<div class="container mt-5">
  <h2 class="text-center mb-4">Educación</h2>
  <div class="row">
     <div class="col-md-6">
      <mat-card class="mb-4">
        <mat-card-header>
          <mat-card-title>Reparador de pc / Administrador de redes</mat-card-title>
          <mat-card-subtitle>IAC - Instituto Argentino de Computación</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>2011 - 2013</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="mb-4">
        <mat-card-header>
          <mat-card-title>Curso de Fullstack development</mat-card-title>
          <mat-card-subtitle>ArgentinaPrograma #YoProgramo 4ta edición</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>2022 - 2023</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
