<div class="container mt-5" id="projects-section">
  <h2 class="text-center mb-4">Proyectos</h2>
  <hr>
  <div class="row">
    <ng-container *ngFor="let project of projects">
      <div class="col-md-4">
        <div class="project-card">
          <h3>{{ project.name }}</h3>
          <p>{{ project.description }}</p>
          <a href="{{ project.link }}" target="_blank">
            <span class="material-symbols-outlined animation">
              settings
          </span>
        </a>      
          <div class="project-actions" *ngIf="isLoggedIn">
            <button (click)="openEditProjectDialog(project)">
              <i class="fas fa-pen"></i>
            </button>
            <button (click)="openDeleteProjectDialog(project)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row" *ngIf="isLoggedIn">
    <div class="col-md-12 text-center">
      <button (click)="openAddProjectDialog()" class="addButton">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</div>
