<footer class="footer">
  <div class="container">
    <div class="row rowBottom">
      <div class="col-lg-6 col-md-12 mb-2 mb-md-0">
        <h5 class="about-title">Acerca de mí</h5>
        <p class="about-text">
          Proyecto de portfolio para el "ArgentinaPrograma 2023"
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-2 mb-md-0">
        <h5 class="links-title">Enlaces utiles</h5>
        <ul class="list-unstyled mb-0">
          <a href="https://github.com/askrajp" class="icon-link"><i class="fab fa-github fa-lg"></i></a>
         <a href="https://www.linkedin.com/in/juan-pablo-rodriguez-83392b187" class="icon-link"><i class="fab fa-linkedin fa-lg"></i></a>
          <a href="https://twitter.com/askrajp" class="icon-link"><i class="fab fa-twitter fa-lg"></i></a>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-2 mb-md-0">
        <h5 class="contact-title">Contacto</h5>
        <ul class="list-unstyled">
          <li>
            <p class="contact-text"><i class="fas fa-envelope"></i>Correo electrónico: askrajpr@gmail.com</p>
          </li>
          <li>
            <a class="contact-text" href="https://wa.me/5491162773167" target="_blank"><i class="fab fa-whatsapp"></i>Whatsapp</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    © 2023 Mi Portfolio. Todos los derechos reservados.
  </div>
</footer>
