.navbar {
    background-color: #363636;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  }
  
  .navbar-brand,
  .nav-link {
    color: #fff !important;;
  }
  
  .navbar-light .nav-link {
   color: #fff !important;;
  padding: 15px!important;
  padding-right: 15px!important;
  transition-property: all;
  transition-duration: .1s;
  }
  
  .navbar-light .nav-link:hover,
  .navbar-light .nav-link:focus {
    color: var(--color-primary);
    transform: scale(1.05);
  }
  
  .navbar-light .nav-link.active {
    color: var(--color-secondary);
  }
  
  .toggleDisplay{
    display: block!important;
  }