<div class="container" id="skills-section">
  <h2 class="text-center mb-4">Habilidades</h2>
  <hr>
  <div class="row">
    <ng-container *ngFor="let category of skillsByCategory.keys()">
      <div class="col-4">
        <div class="skill-card"> 
          <h3>{{ category }}</h3>
          <ul>
            <ng-container *ngFor="let skill of skillsByCategory.get(category)">
              <li>{{ skill.name }}
                <div class="skill-actions" *ngIf="isLoggedIn">
                  <button (click)="openEditSkillDialog(skill)">
                     <i class="fas fa-pen"></i>
                   </button>
                  <button (click)="openDeleteSkillDialog(skill)">
                    <i class="fas fa-trash"></i>
                   </button>
                  </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>
</div>
   <div class="skill-actions" *ngIf="isLoggedIn">
     <div class="skill-actions-add">
     <button (click)="openAddSkillDialog()"> 
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>


