.container {
    margin-top: 7rem;
    margin-bottom: 1rem;
  }
  
  .profile-info h3 {
    text-shadow: 1cap ;
    font-size: 28px;

  }
  
  .profile-container {
    width: 100%;
  }
  
  .profile-row {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
  }
    .profile-image-container {
    flex-basis: 40%;
    text-align: right;
  }
    .profile-info-container {
    flex-basis: 60%;
    text-align: left;
  }
    .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover;
    display: auto;
    margin:0 auto;
    box-sizing: border-box;
    border: 1px solid #fff!important;
    margin-bottom: auto;
     }
  .profile-image:hover{
    border: 2px solid #fff!important;
  }

  .profile-info p strong {
    display: block;
    margin-bottom: 45px;
  }
  
 .description{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    background-color: #fff!important;
    font-size: 20px;
    }

   .container-description{
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: justify;
   }