
<div class="container" *ngIf="userProfile">
  <div class="profile-container">
    <div class="profile-row">
    
      <div class="profile-info-container">
        <div class="profile-info">
          <h3>{{ userProfile.firstName }} {{ userProfile.lastName }}</h3>
          <p><strong>{{ userProfile.occupation }}</strong></p>
          <p>Edad: {{ userAge }}  años</p>
          <p>Residencia:{{ userProfile.residence }}</p>
          <p>Disponibilidad de movilidad: {{ userProfile.mobilityAvailability ? 'Sí' : 'No' }}</p>
        </div>
      </div>
      <div class="profile-image-container">
        <img src="./assets/askra.png" alt="Foto de perfil" class="profile-image">
      </div>
    </div>
  </div>
  
  <hr>
        
  <div class="container-description" *ngIf="userProfile">
        <div id="description">
          <p>{{ userProfile.description }}</p>
        </div>
  </div>

  <hr>
 